<%- include("templates/header", {titulo:"Pagina de inicio"})  %>
<%
    var a=5
    var b=10
    var suma=a+b
%>
<div class="alert alert-primary"> La suma es<%= suma %></div>

<h1><%= nombre %></h1>
<h2><%= grupo %></h2>
<h2>Desayunos</h2>
<ul>
    <% desayunos.forEach(desayuno=>{ %>
        <li><%= desayuno %></li>
    <% }) %>
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <td>
                Desayuno
            </td>
        </tr>
    </thead>
    <tbody>
        <% desayunos.forEach(desayuno=>{ %>
        <tr>
            <td><%= desayuno %></td>
        </tr>
        <% }) %>
    </tbody>
</table>


<a href="/abc/ <%= nombre %>">Pasar al nombre</a>
<%- include("templates/footer") %>

